[submodule "external/eigen-git-mirror"]
	path = external/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "external/mba"]
	path = external/mba
	url = https://github.com/ddemidov/mba.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
