CMakeCache.txt
*~
CMakeFiles
CMakeModules
Makefile
cmake_install.cmake
install_manifest.txt
mistie_report.h
.directory
__pycache__
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.inc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#OpendTect
*.alo
*mod.h
bin/lux64
bin/win64

#Windows
x64
*.vcxproj*
*.tlog
*.log
*.lastbuildstate
*.ipch
*.sln
*.ini
*deps.h
*.db
*.suo

